@using MovieMatch_Blazor.Shared.FormModels
@inject MovieMatch_Blazor.Shared.Services.IAppState appState
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<h3>Here we go...</h3>

@code {
    protected async override Task OnInitializedAsync()
    {
        //call the API service to get it
    }
}
